<div class="jumbotron">
	<h1>The best place for beautiful locomotion.</h1>
	<p>You will get to:</p>
	<ul>
		<li>Share pcitures of beautiful cars, boats and motorcycles.</li>
		<li>Save your favorites.</li>
		<li>Group your favorites into sets to share.</li>
	<p>Click here to <%= link_to "sign up!", "#", class: "btn btn-primary btn-lg" %></p>
</div>